In [32]:
import pandas as pd

columns = [1,2,3,4,5,6,7,8,9]
rows = [1,2,3,4,5,6,7,8,9]
puzzle = [[5,3,0,0,7,0,0,0,0],
          [6,0,0,1,9,5,0,0,0],
          [0,9,8,0,0,0,0,6,0],
          [8,0,0,0,6,0,0,0,3],
          [4,0,0,8,0,3,0,0,1],
          [7,0,0,0,2,0,0,0,6],
          [0,6,0,0,0,0,2,8,0],
          [0,0,0,4,1,9,0,0,5],
          [0,0,0,0,8,0,0,7,9]]

df = pd.DataFrame(data=puzzle, index=rows, columns=columns)

In [3]:
df.head()

   1  2  3  4  5  6  7  8  9
1  5  3  0  0  7  0  0  0  0
2  6  0  0  1  9  5  0  0  0
3  0  9  8  0  0  0  0  6  0
4  8  0  0  0  6  0  0  0  3
5  4  0  0  8  0  3  0  0  1

In [30]:
df

   1   2   3   4   5   6   7   8   10
1   5   3   0   0   7   0   0   0   0
2   6   0   0   1   9   5   0   0   0
3   0   9   8   0   0   0   0   6   0
4   8   0   0   0   6   0   0   0   3
5   4   0   0   8   0   3   0   0   1
6   7   0   0   0   2   0   0   0   6
7   0   6   0   0   0   0   2   8   0
8   0   0   0   4   1   9   0   0   5
9   0   0   0   0   8   0   0   7   9

In [34]:
df[9].tolist()

[0, 0, 0, 3, 1, 6, 0, 5, 9]

In [33]:
df[1].tolist()

[5, 6, 0, 8, 4, 7, 0, 0, 0]

In [38]:
df[1][2]

6

In [43]:
for i, row in df.iterrows():
	print(f"Index: {i}")
	print(f"{row.tolist()}\n")

Index: 1
[5, 3, 0, 0, 7, 0, 0, 0, 0]

Index: 2
[6, 0, 0, 1, 9, 5, 0, 0, 0]

Index: 3
[0, 9, 8, 0, 0, 0, 0, 6, 0]

Index: 4
[8, 0, 0, 0, 6, 0, 0, 0, 3]

Index: 5
[4, 0, 0, 8, 0, 3, 0, 0, 1]

Index: 6
[7, 0, 0, 0, 2, 0, 0, 0, 6]

Index: 7
[0, 6, 0, 0, 0, 0, 2, 8, 0]

Index: 8
[0, 0, 0, 4, 1, 9, 0, 0, 5]

Index: 9
[0, 0, 0, 0, 8, 0, 0, 7, 9]